header{
	display:flex;
	 justify-content:space-between;
	 flex-direction:row;
	
}

header .head-text{
	padding: 20px 10px;
	text-align: right;
}

header .head-text h1 {
    font-size: 28px;
    font-weight: 300;
	color: #DE3712;
	margin: 0;
}

header #avatar{
	display: block;
    position: relative;
    margin: 0;
}

header #avatar img{
    border-radius: 50%;
    background-color: #e7bd9b;
    box-shadow: 1px 1px 3px #333;
	width: 80px;
	margin: 10px;
}

@media (min-width: 768px) {
	header .head-text{
	padding: 10px;}
	
	header .head-text h1 {
	font-size: 42px;}
}

@media (min-width: 992px) {
	header .head-text{
	padding: 0 10px;}
	
    header .head-text h1 {
	font-size: 50px;}
}