@import "global.css";
@import "header.css";
@import "card.css";

.container{
	display:block;
	grid-template-columns: 100%;
	grid-template-rows: 120px 400px 250px auto 50px;
	grid-template-areas: 
	  "hd"
	  "as"
	  "ca"
	  "te"
	  "ft";
	grid-gap:10px;
  }
.container header{
    grid-area:hd;
  }
.container footer{
    grid-area:ft;
  }
.container aside{
	grid-area:as;
	overflow: hidden;
  }
.container .techno{
    grid-area:te;
  }
.container .career{
    grid-area:ca;
  }

.navbar{ 
	height: 50px;
	background-color: #ddd;
}

.navbar ul{
	display: flex;
    list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li{
	margin: 10px 0 0 10px;
}

.navbar ul li a{
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.navbar ul li{
		margin: 10px 0 0 20px;
	}
}
  
  
.hero{    
	max-height: 325px;
    overflow: hidden;
}

.img-fluid{
	width:100%;
}

figure{
	margin:0;
}

button{    
	background-color: darkorange;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover{
	background-color: #DE3712;
}