@import "./_color";

.container-full-size {
  max-width: 100%;
  min-height: 400px;
}

.hero {
  height: 100%;
  width: 100%;
  background: url('../img/voyage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
	color: $main-color;
	margin: 10px;
	font-weight: bold;
	font-size: 24px;
}

h3, h4 {
	color: $main-color;
	margin: 10px;
	font-size: 18px;
}

main{
	small{
		font-style: italic;
	}	
}

#result{
		display: none;
		
		section{
			margin: 15px 0;
		}
		
		.card.expired{
			border-color: $main-color;
			border-width: 3px;
		}
	}



